<div class="header-actions">
  <button mat-fab extended color="primary" (click)="createTeam()">
    <mat-icon>add</mat-icon>
    Create Team
  </button>
</div>

<div class="teams-grid">
  @for (item of teams(); track $index) {
    <div class="team-card-wrapper">
      <app-team-item [team]="item"></app-team-item>
      
      <div class="card-actions">
        <button mat-button class="inner-add-btn" (click)="addMember(item.id||0)">
          <mat-icon>person_add</mat-icon>
          Add Member
        </button>
      </div>
    </div>
  } @empty {
    <div class="empty-state">
      <p>There aren't any teams yet, create one!</p>
    </div>
  }
</div>
<ng-template #addMemberDialog let-data>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>User ID</mat-label>
    <input matInput [(ngModel)]="newMemberId"  />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeAddMemberDialog()">Cancel</button>
  <button mat-button (click)="confirmAddMember(data.teamId)">Add</button>
</mat-dialog-actions>
</ng-template>

<ng-template #createTeamDialog>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Team Name</mat-label>
    <input matInput [(ngModel)]="newTeamName" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeCreateTeamDialog()">Cancel</button>
  <button mat-button (click)="confirmCreateTeam()">Create</button>
</mat-dialog-actions>
</ng-template>

