<div class="board-container" cdkDropListGroup>
    <header class="main-header">
        <h1 class="project-name">Project Flow Board</h1>
    </header>

    <div class="kanban-grid">
        <div class="column-box todo-zone">
            <div class="column-header">
                <div class="title-group">
                    <mat-icon class="icon-indigo">format_list_bulleted</mat-icon>
                    <h2>To Do</h2>
                </div>
                <button mat-icon-button class="add-inline-btn" (click)="openAddTask(TaskStatus.Todo)">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>

            <div class="task-list" cdkDropList [cdkDropListData]="todoTasks()"
                (cdkDropListDropped)="drop($event, TaskStatus.Todo)">
                @for (task of todoTasks(); track task.id) {
                <app-task-item [task]="task" (statusChanged)="onStatusChange(task.id, $event)"
                    (deleteRequested)="onDeleteRequest($event)" (taskClicked)="openTaskDetails($event)"
                    (priorityUpdateRequested)="onPriorityUpdate($event)"
                    cdkDrag></app-task-item>
                } @empty {
                <div class="empty-placeholder">Drop tasks here</div>
                }
            </div>
        </div>

        <div class="column-box progress-zone">
            <div class="column-header">
                <div class="title-group">
                    <mat-icon class="icon-purple">pending</mat-icon>
                    <h2>In Progress</h2>
                </div>
                <button mat-icon-button class="add-inline-btn" (click)="openAddTask(TaskStatus.InProgress)">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>

            <div class="task-list" cdkDropList [cdkDropListData]="doingTasks()"
                (cdkDropListDropped)="drop($event, TaskStatus.InProgress)">
                @for (task of doingTasks(); track task.id) {
                <app-task-item [task]="task" (statusChanged)="onStatusChange(task.id, $event)"
                    (deleteRequested)="onDeleteRequest($event)" (taskClicked)="openTaskDetails($event)"
                    (priorityUpdateRequested)="onPriorityUpdate($event)"
                    cdkDrag></app-task-item>
                } @empty {
                <div class="empty-placeholder">Getting things done...</div>
                }
            </div>
        </div>

        <div class="column-box done-zone">
            <div class="column-header">
                <div class="title-group">
                    <mat-icon class="icon-emerald">check_circle</mat-icon>
                    <h2>Completed</h2>
                </div>
                <button mat-icon-button class="add-inline-btn" (click)="openAddTask(TaskStatus.Done)">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>

            <div class="task-list" cdkDropList [cdkDropListData]="doneTasks()"
                (cdkDropListDropped)="drop($event, TaskStatus.Done)">
                @for (task of doneTasks(); track task.id) {
                <app-task-item [task]="task" (statusChanged)="onStatusChange(task.id, $event)"
                    (deleteRequested)="onDeleteRequest($event)" (taskClicked)="openTaskDetails($event)"
                    (priorityUpdateRequested)="onPriorityUpdate($event)"
                    cdkDrag></app-task-item>
                } @empty {
                <div class="empty-placeholder">All caught up!</div>
                }
            </div>
        </div>
    </div>
</div>

<ng-template #taskDialog>
    <h2 mat-dialog-title>new task</h2>
    <mat-dialog-content [formGroup]="taskForm" class="dialog-form">
        <mat-form-field appearance="outline">
            <mat-label>title</mat-label>
            <input matInput formControlName="title" placeholder="task title" />
            @if(taskForm.get('title')?.hasError('required')) {
            <mat-error>title is required</mat-error>
            }
            @if(taskForm.get('title')?.hasError('minlength')) {
            <mat-error>title must be at least 2 characters long</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>description</mat-label>
            <textarea matInput formControlName="description" rows="3" placeholder="task description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>priority</mat-label>
            <mat-select formControlName="priority">
                <mat-option value="low">Low</mat-option>
                <mat-option value="normal">Normal</mat-option>
                <mat-option value="high">High</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="due-date-field">
            <mat-label>Due Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dueDate" placeholder="Choose a date" [min]="nimDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
            @if(taskForm.get('dueDate')?.hasError('required')) {
            <mat-error>Due date is required</mat-error>
            }
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>cancel</button>
        <button mat-raised-button color="primary" (click)="confirmSaveTask()" [disabled]="taskForm.invalid">save
            task</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #deleteConfirmDialog let-task>
    <h2 mat-dialog-title>delete task</h2>
    <mat-dialog-content>
        Are you sure you want to delete the task <strong>"{{ task.title }}"</strong>?
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="false">cencel</button>
        <button mat-raised-button color="warn" [mat-dialog-close]="true">delete</button>
    </mat-dialog-actions>
</ng-template>