<div class="header-actions">
  <button mat-fab extended color="primary" (click)="createProject()">
    <mat-icon>add</mat-icon>
    Create Project
  </button>
</div>

<div class="projects-grid">
  @for (item of projects(); track $index) {
  <div class="project-card-wrapper">
    <app-project-item [project]="item" (click)="chooseProject(item)"></app-project-item>
  </div>
  } @empty {
  <div class="empty-state">
    <p>There aren't any projects yet, create one!</p>
  </div>
  }
</div>

<ng-template #createProjectDialog>
  <form [formGroup]="addProjectForm" (ngSubmit)="confirmCreateProject()">
    <mat-dialog-content>

      <mat-form-field appearance="outline">
        <mat-label>Project Name</mat-label>
        <input matInput formControlName="name" required />
        @if (addProjectForm.get('name')?.hasError('required')) {
        <mat-error>Name is required</mat-error>
        }
        @if (addProjectForm.get('name')?.hasError('minlength')) {
        <mat-error>Name must be at least 3 characters long</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        @if (addProjectForm.get('description')?.hasError('maxlength')) {
        <mat-error>Description cannot exceed 200 characters</mat-error>
        }
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="closeCreateProjectDialog()">Cancel</button>
      <button mat-button type="submit" [disabled]="addProjectForm.invalid">Create</button>
    </mat-dialog-actions>
  </form>


</ng-template>