

mat-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-text-field-wrapper .mdc-notched-outline__leading,
::ng-deep .mat-mdc-text-field-wrapper .mdc-notched-outline__trailing,
::ng-deep .mat-mdc-text-field-wrapper .mdc-notched-outline__notch {
  border-radius: 12px !important; 
}