<mat-card class="item-card" (click)="chooseTeam()">
  <div class="card-accent-bar"></div>
  <mat-card-header>
    <mat-card-title class="team-name">{{ team()?.name }}</mat-card-title>
  </mat-card-header>
  
  <mat-card-content class="team-info">
    <div class="info-row">
      <mat-icon class="icon-emerald">groups</mat-icon>
      <span class="count">{{ team()?.members_count || 0 }} Members</span>
    </div>
    <div class="info-row">
      <mat-icon class="icon-indigo">calendar_today</mat-icon>
      <span class="date">{{ team()?.created_at | date:'mediumDate' }}</span>
    </div>
  </mat-card-content>
</mat-card>