/* src/app/components/login/login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  text-align: center;
}

.title {
  color: var(--primary);
  font-size: 2rem;
  margin-bottom: 8px;
}

.subtitle {
  color: #6366f1; /* צבע כחלחל במקום אפור */
  margin-bottom: 32px;
  opacity: 0.8;
}

.error-box {
  background-color: #fff1f2;
  color: var(--accent);
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 0.9rem;
  border: 1px solid var(--accent);
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
}
.alert-error {
  color: red;
  margin-bottom: 16px;
  font-size: 0.9rem;
  padding: 10px;
  border: 1px solid red;
  border-radius: 8px;
  background-color: #ffe5e5;
  margin: 16px 0;
}

::ng-deep .mat-mdc-text-field-wrapper .mdc-notched-outline__leading,
::ng-deep .mat-mdc-text-field-wrapper .mdc-notched-outline__trailing,
::ng-deep .mat-mdc-text-field-wrapper .mdc-notched-outline__notch {
  border-radius: 12px !important; /* פינות מעוגלות לשדות */
}
