.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px; /* מרווח קטן בין שדה לשדה */
}

.auth-title {
  font-size: 24px;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 8px;
  text-align: center;
}

.auth-sub {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 32px;
  text-align: center;
}

.submit-btn {
  width: 100%;
  height: 48px;
  margin-top: 16px;
}

/* התאמת רכיבי Material לרוחב מלא */
mat-form-field {
  width: 100%;
}


::ng-deep .mat-mdc-text-field-wrapper .mdc-notched-outline__leading {
  border-radius: 12px 0 0 12px !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mdc-notched-outline__trailing {
  border-radius: 0 12px 12px 0 !important;
}



.error-massage{
    font-size: 12px;
    color: #dc2626;
    margin-top: 4px;
    margin-bottom: 14px;
    background-color: #fee2e2;
    padding: 4px 8px;
    border-radius: 4px;
    display: block;
    text-align: center;
    border: #dc2626 1px solid;
}