<h2 class="form-title">Welcome Back</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-layout">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <mat-icon matPrefix color="primary">alternate_email</mat-icon>
    <input matInput formControlName="email" type="email">
    @if(loginForm.get('email')?.hasError('email')) {
      <mat-error>Enter a valid email</mat-error>
    }
    @if(loginForm.get('email')?.hasError('required')) {
      <mat-error>Email is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <mat-icon matPrefix color="primary">lock_open</mat-icon>
    <input matInput formControlName="password" type="password">
    @if(loginForm.get('password')?.hasError('required')) {
      <mat-error>Password is required</mat-error>
    }
    @if(loginForm.get('password')?.hasError('minlength')) {
      <mat-error>Password must be at least 6 characters long</mat-error>
    }   
  </mat-form-field>

  @if (errorMassage()) {
    <div class="alert-error">{{ errorMassage() }}</div>
  }

  <button mat-raised-button class="btn-primary full-width" type="submit" [disabled]="loginForm.invalid||isLoading()">
    @if (isLoading()) {
      <mat-progress-spinner
        diameter="20"
        mode="indeterminate"
        color="accent">
      </mat-progress-spinner>
    } 
    @else {
      Login
    }
  </button>
</form>